body {
    background: #DAD7D7;
}

.textA {
    place-self: center;
    text-align: center;
    grid-area: textA;
    font-size: 75px;
    width: 900px;
    height: 90px;
    background-color: white;
    border-radius: 10px;
    white-space: nowrap;
}
.btnPlus {
    grid-area: btnPlus;
    width: 190px;
    height: 190px;
    background-color: #1A1A1A;
    color: white;
}
.btnMinus {
    grid-area: btnMinus;
    width: 190px;
    height: 190px;
    background-color: #1A1A1A;
    color: white;
}
.btnDivide {
    grid-area: btnDivide;
    width: 190px;
    height: 190px;
    background-color: #1A1A1A;
    color: white;
}
.btnMultiply {
    grid-area: btnMultiply;
    width: 190px;
    height: 190px;
    background-color: #1A1A1A;
    color: white;
}
.btnDecimal {
    grid-area: btnDecimal;
    width: 190px;
    height: 190px;
    background-color: #41474D;
    color: white;
}
.btnOne {
    grid-area: btnOne;
    width: 190px;
    height: 190px;
    background-color: #41474D;
    color: white;
}
.btnTwo {
    grid-area: btnTwo;
    width: 190px;
    height: 190px;
    background-color: #41474D;
    color: white;
}
.btnThree {
    grid-area: btnThree;
    width: 190px;
    height: 190px;
    background-color: #41474D;
    color: white;
}
.btnFour {
    grid-area: btnFour;
    width: 190px;
    height: 190px;
    background-color: #41474D;
    color: white;
}
.btnFive {
    grid-area: btnFive;
    width: 190px;
    height: 190px;
    background-color: #41474D;
    color: white;
}
.btnSix {
    grid-area: btnSix;
    width: 190px;
    height: 190px;
    background-color: #41474D;
    color: white;
}
.btnSeven {
    grid-area: btnSeven;
    width: 190px;
    height: 190px;
    background-color: #41474D;
    color: white;
}
.btnEight {
    grid-area: btnEight;
    width: 190px;
    height: 190px;
    background-color: #41474D;
    color: white;
}
.btnNine {
    grid-area: btnNine;
    width: 190px;
    height: 190px;
    background-color: #41474D;
    color: white;
}
.btnZero {
    grid-area: btnZero;
    width: 383px;
    height: 190px;
    background-color: #41474D;
    color: white;
}
.btnEquals {
    grid-area: btnEquals;
    width: 190px;
    height: 383px;
    background-color: #1A1A1A;
    color: white;
}
.btnClear {
    grid-area: btnClear;
    width: 190px;
    height: 383px;
    background-color: #1A1A1A;
    color: white;
}

.btn-group {
    display: grid;
    grid-template-columns: 193px 193px 193px 193px 193px;
    grid-template-rows: 125px 193px 193px 193px 193px;
    grid-template-areas:
        'textA textA textA textA textA'
        'btnOne btnTwo btnThree btnPlus btnClear'
        'btnFour btnFive btnSix btnMinus btnClear'
        'btnSeven btnEight btnNine btnMultiply btnEquals'
        'btnZero btnZero btnDecimal btnDivide btnEquals';
    justify-content: center;
}

.btn-group .button {
    place-self: center;
    font-size: 50px;
    border-radius: 10px;
}